<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>导航栏渐变.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>886569B41CF81BD2006067F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>886569CD1CF81BD2006067F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>886569D81CF81BD2006067F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
